record(calcout,"$(SLSDET):$(MOD):CHECK_ENABLE")
{
  field(DESC, "Check if module should be enabled")
  field(SCAN, "Passive")
  field(OUT,  "$(SLSDET):$(MOD):ENABLED PP")
  field(OOPT, "On Change")
  field(DOPT, "Use CALC")
  field(CALC, "(A=1)&&(B=1)&&(C#0)")
  field(INPA, "$(OUTPUT) CPP")
  field(INPB, "$(SWITCH) CPP")
  field(INPC, "$(READY) CPP")
}

